.circum{
    border-top: 2px solid;
}
.paymentDetails .mat-button-toggle-checked{
    background-color: #ff0000;
}
.paymentdetailsBox{
    border: 1px solid;
    height: auto;
    width: 100%;
    padding: 5px;
}

.savePayments{
    float: left;
    border-radius: 21px;
    background-color: #FF0000;

}

.payment_impinformation{
    height: 100%px;
    width: 100%;
    background-color:#F0F0F0 ;
    padding: 16px;
}