.confirmMort{
    font-size: 28px;
}
.confirm-mortgage h6, p{
    padding: 5px;
    font-size: 11px;
}

.confirm-mortgage .confirmmortgage{
    float: right;
    border-radius: 21px;
    background-color: cd;
}
.confirm-mortgage .alignpara{
    margin-top: -24px;
}
.confirm-mortgage .mortgageIllusition{
    font-size: 20px;
}
.confirm-mortgage .mortgageIllusitionBox{
    border: 1px solid;
    height: 80px;
}
.confirm-mortgage .confirmDownload{
    margin-top: 2px;
    height: 74px;
    margin-left: 2px;
    max-width: 43%;
    border: 1px solid;
}
.confirm-mortgage .inboxdownload{
    margin-top: 2px;
    height: 74px;
    max-width: 50%;
    margin-left: 17px;
    border: 1px solid;

}
.confirm-mortgage .confirmdownloadbtn{
    border-radius: 21px;
    text-align: center;
    background-color: #FF0000;
    margin-top: 20px;

}
.confirm-mortgage .checkbox input,
.checkbox p {
  display: inline-block
}