.headerlogo{
    width: 88%;
    height: 43px;
    margin-left: 124px
}
.header{
    background-color: #ec0000;
    height: 71px;
    width: 100%;  
}
.details{
    margin-left: 539px;
    color: white;
    
}
// #header-left {
//     float: left;
//     width: 300px;
//     margin-right: 20px;
//     text-align: center;
// }
// #header-right {
//     float: right;
//     margin-left: 367px;
//     margin-top: 20px;
//     width: -1%;
//     color: white;
// }
#header-right{
    margin-left: 252px;
    padding: 20px;
    color: white;
}
.smallheader{
    background-color: #343d46;
    height: 20px;
}
.headertext{
    color: white;
    margin-top: -7px;
    font-size: 10px;
}

.logoutbtn{
    background-color: #ec0000;
    color: white;
    padding: 17px;
    
}