<!-- <div class="smallheader">
    <nav class="navbar ">
        <span class="headertext">App ready.</span>
       
      </nav>
</div> -->

<div class="header">
    <nav class="navbar">
        <div class="row">
          <div class="col-sm-4">
            <div id="header-left">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/Captureimg.PNG" class="d-inline-block align-top headerlogo" alt="">
                   
                  </a>
            </div>
          </div>
          <div class="col-sm-6">
        
           <div id="header-right" ng-show="!bolShow">
              <p class="">Your details are secure!</p>
            </div>
            <div>
            </div>
           
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <button type="submit" class="btn btn-danger logoutbtn" (click)="logOutbtn()">Logout</button>
            </div>
            </div>
           
            <!-- <button class="logoutbtn" >Logout</button> -->
        </div>
        
      </nav>
    
</div>
