
.tablerow{
    text-align: center;
}
.tablerownext{
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
.onlinebutton{
    float: right;
    border-radius: 21px;
    background-color: #FF0000;
}
.impinformation{
    height: 100%px;
    width: 100%;
    background-color:#F0F0F0 ;
    padding: 16px;
}
