<div class="apply-container">
    <h1 class="applymortgage">How to apply for your Mortgage</h1>
    <p>You can continue or complete your mortgage application by choosing form one of the options below </p>

<div class="row">
    <div class="col-md-6">
        <h2 class="tablerow">Online</h2>
      
        <p class="tablerow"><b>Without Advice</b></p>
        <span>Anim pariatur cliche reprehenderit, enim eiusmod high<br> life accusamus terry richardson ad squid. 3 wolf moon officia aute, non<br> cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. </span>
        <p class="tablerownext"><b>What happens next?</b></p>
        <span>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non <br><br>cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee<br><br> nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. 
        </span><br><br>
        <button type="submit" class="btn btn-danger onlinebutton" (click)="btnClick();">Continue online</button>

    </div>
    <div class="col-md-6">
        <h2 class="tablerow">By phone</h2>
        <p class="tablerow"><b>Without Advice</b></p>
        <span>Anim pariatur cliche reprehenderit, enim eiusmod high life<br> accusamus terry richardson ad squid. 3 wolf moon <br>officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. </span>
        <p class="tablerownext"><b>What happens next?</b></p>
        <span>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non <br><br>cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee<br><br> nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. 
        </span><br><br>
        <button type="submit" class="btn btn-danger onlinebutton">Continue by phone</button>
    </div>
</div><br>

<p><b>Important information</b></p>
<div class="impinformation">
    <p><b>YOUR HOME MAY BE RESPOSSESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE
    </b></p>
    <span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee</span>
</div>
</div>