.other-occupants .mat-button-toggle-checked{
    background-color: #ff0000;
}

.occupants{
    font-size: 28px;
}

.solicitor{
    padding: 10px;
}
.horiline{
    border-top: 1px solid black;
}
.confirmation{
    margin-top: 30px;
}
.occupantsSoli{
    float: right;
    border-radius: 21px;
    background-color: #FF0000;

}
.backCancle{
    margin-top: 70px;

}
.backBtn{
    color: black;
    margin-left: 30%;
    text-decoration: revert;
}
