<div class="options-mortgage">
    <h1 class="mortOptions">Mortgage Options</h1>
<p>Filter Mortgage options</p>
<span>
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
</span>  <br><br>
<div class="">
<table class="table ">
  <thead class="tableheader">
    <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of elements">
        <th scope="row">{{el.discription}}</th>
        <td>{{el.initialrate}}</td>
        <td>{{el.repayment}}</td>
        <td>{{el.productfee}}</td>
        <td>{{el.options}}</td>
      </tr>
  </tbody>
</table>
</div>

<div class="headline">
    <h1>Free valution- </h1>
    <p>Availability on a property valued up to <i class="fa fa-gbp">&#xf154;</i>2.5 million.</p>
</div>


    <p class="repaymentcharge"><b>Early Repayment Charges(ending your mortgage):</b></p>

    <div class="repaymentOptions">
        <h3><b>Fixed rates- </b></h3>
        <p>Because of this, you need to be very cautious about your position size due to the fact that the headlines can come out at any given moment, and of course the dish pound will be thrown wildly. Because of this, a lot of traders I know have not even been.</p>
    </div>

    <div class="repaymentOptions">
        <h3><b>Tracker rates- </b></h3>
        <p>Because of this, you need to be very cautious about your position size due to the fact that the headlines can come out at any given moment, and of course the dish pound will be thrown wildly. Because of this, a lot of traders I know have not even been.</p>
    </div>

    <div class="repaymentOptions">
        <h3><b>*1% cashbak for 1/2/3 current account and 1/2/3 lite current accounts customer -  </b></h3>
        <p>for more details visit <a href="https://www.santander.co.uk/personal/mortgages">link</a></p>
    </div>

    <h5>Important information</h5>
<div class="impinformation">
    <h6> YOUR HOME MAY BE RESPOSSESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE
    </h6>
    <span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee</span>
</div>
  
</div>
