.options-mortgage .mortOptions{
    font-size: 28px;
}
.options-mortgage .tableheader{
    background-color: #ff0000;
    color: white;
    font-size: 15px;
}
.options-mortgage .tablestyle{
    padding: 12px;
}
.options-mortgage .headline h1, .headline p {
    display: inline;
    vertical-align: top;
    font-size: 16px;
    line-height: 28px;    
}
.options-mortgage .headline h1 {
    font-weight: bold;
}
.options-mortgage .repaymentcharge{
    margin-top: 10px;
}

.options-mortgage .repaymentOptions .repaymentOptions {
    display: inline;
    vertical-align: top;
    font-size: 16px;
    line-height: 28px;    
}
.options-mortgage .repaymentOptions h1 {
    font-weight: bold;
}
.options-mortgage .repaymentOptions{
    margin-top: 20px;
    text-align: justify;
}
.options-mortgage .impinformation{
    height: 100%px;
    width: 100%;
    background-color:#F0F0F0 ;
    padding: 16px;
}
