.property-container .mat-button-toggle-checked{
    background-color: #ff0000;
}
.impinformation{
    height: 100%px;
    width: 100%;
    background-color:#F0F0F0 ;
    padding: 16px;
}
.propertydetailsbtn{
    float: left;
    border-radius: 21px;
    background-color: #FF0000;
    margin-left: 30px;
}