 .mat-button-toggle-checked{
    background-color: #ff0000;
}


.voilationbtn{
    float: right;
    border-radius: 21px;
    background-color: #FF0000;

}
.discriptionbox{
    height: 100%px;
    width: 100%;
    background-color:#F0F0F0 ;
    padding: 16px;
}